In [1]:
import pandas as pd

# create a dataframe with sample data
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Gender': ['F', 'M', 'M']})
print(df)

      Name  Age Gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M

In [2]:
df.reset_index()

   index     Name  Age Gender
0      0    Alice   25      F
1      1      Bob   30      M
2      2  Charlie   35      M